<form class="pure-form" id = "filterform" method = "GET" action="/platform">
    <fieldset>
        <legend>Filter Your Search</legend>
         <input type="text" id="Sellername" class="Seller's name" placeholder="Seller's name" name = 'sellername'>
        <input type="text" id="Itemname" class="Itemname" placeholder="Item's name" name = 'itemname'>
        <select id="category" name = 'category'>
        <option value="" disabled selected hidden>Category</option>
        <option>Clothes</option>
        <option>Education</option>
        <option>Entertainment</option>
        <option>Tool</option>
        <option>Others</option>
        </select>
        <select id="range" name='range'>
        <option value="" disabled selected hidden>Price</option>
        <option>Below 10</option>
        <option>10 - 49</option>
        <option>50 - 99</option>
        <option>100 - 199</option>
        <option>Above 200</option>
        </select>
        <button type="submit" class="pure-button" id="filterbutton">Filter</button>
    </fieldset>
    <table class="pure-table pure-table-horizontal", id = "itemtable">
    <thead>
        <tr>
            <th>Item's Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Condition</th>
            <th>Seller's Name</th>
            <th>OK to Bargain</th>
        </tr>
    </thead>
    <tbody>
         {{#each found}}
    <tr>
        <td>
           <a href="/detail/{{this._id}}">{{this.name}}</a> 
        </td>
        <td>
            {{this.category}}
        </td>  
        <td>
            {{this.price}}
        </td>  
        <td>
            {{this.condition}}
        </td>  
        <td>
            {{this.seller.username}}
        </td>   
        <td>
            {{this.openTobargain}}
        </td>        
    </tr>
    {{/each}}
    </tbody>
</table>
</form>